.item-block_title {
    width: 60%;
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
}