@import url('./__title/team__title.css');
@import url('../team-cards-author/team-cards-author.css');
@import url('../team-cards-principle/team-cards-principle.css');


.team {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    background-color: #E2C4BA;
}