.form-applications__name-input {
    width: 100%;
    border: none;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    background-color: #8D7370;
    margin-bottom: 20px;
}

.form-applications__name-input:focus + .form-applications__name-label,
.form-applications__name-input:valid:not(:placeholder-shown) + .form-applications__name-label {
    bottom: 60px;
    transition: 0.2s ease-in;
}