.form-applications__phone-input {
    width: 100%;
    border: none;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    background-color: #8D7370;
    margin-bottom: 31px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
}