@import url('../vendor/normalize.css');
@import url('../vendor/font.css');

@import url('../blocks/header/header.css');
@import url('../blocks/about/about.css');
@import url('../blocks/our-workks/our-works.css');
@import url('../blocks/team/team.css');
@import url('../../node_modules/swiper/swiper-bundle.css');
@import url('../blocks/reviews/reviews.css');
@import url('../blocks/applications/applications.css');
@import url('../blocks/footer/footer.css');

body {
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid red;
    background-color: #e5e5e5;
    font-family: 'Montserrat Regular' sans-serif;
    color: #533738;
}