.about__footer_item {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center
}


.about__footer_item:first-child {
    
    margin-left: 182px;
}
.about__footer_item:last-child {
    
    margin-right: 182px;
}
.about__footer_item-dig {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 62px;
}