<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Марафон по верстке HTML_Academy">
  <meta name="keywords" content="html, css, js">
  <meta name="author" content="Кирилл Шлёнкин">
  <title>Marathon_3.0</title>
  
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"> -->
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
  <header class="header">
    <nav class="header__nav">
      <ul class="header__nav_list">
        <li class="header__nav_item"><a href="#" class="header__nav_item-link">
          <img class="header__nav_item-img" src="<%=require('./images/logo.png').default%>" alt="logo">SCANDI</a></li>
        <li class="header__nav_item"><a href="#" class="header__nav_item-link">O компании</a></li>
        <li class="header__nav_item"><a href="#" class="header__nav_item-link">Портфолио</a></li>
        <li class="header__nav_item"><a href="#" class="header__nav_item-link">Команда</a></li>
        <li class="header__nav_item"><a href="#" class="header__nav_item-link">Как мы работаем</a></li>
        <li class="header__nav_item"><a href="#" class="header__nav_item-link">Отзывы клиентов</a></li>
        <li class="header__nav_item"><a href="#" class="header__nav_item-link">Оставить заявку</a></li>
        <li class="header__nav_item"><a href="#" class="header__nav_item-link">+7(981)857-46-24</a></li>
      </ul>
    </nav>
    <h1 class="header__title">Поможем сделать вашу квартиру уютнее</h1>
    <p class="header__text">Подбираем текстиль, мебель и аксессуары под ваш интерьер, находим магазины
    и помогаем организовать доставку </p>
    <a  class="button header__button" href="#">Оставить заявку</a>
  </header>
  <main>
    <div class="about">
      <h2 class="title about__title">О НАС</h2>
      <div class="about__container">
        <img src="<%=require('./images/about_image.jpg').default%>" alt="фотография сервировки стола" class="about__container_image">
          <div class="about__container_block">
            <p class="about__block_text">Премиальный европейский текстиль — одно из самых главных направлений работы коллектива. 
              Создавать неповторимые интерьеры для наших дорогих клиентов, уделяя внимание мельчайшим деталям — вот то,  
              что по-настоящему вдохновляет дизайнеров нашей студии.
            </p>
            <p class="about__block_text">Наш коллектив сделает все, чтобы после сотрудничества с нами,  Вам было приятно сказать:
              « Да! Это именно то, что действительно достойно моего дома!»
            </p>
        </div>
      </div>
      <div class="about__footer">
        <div class="about__footer_item"><span class="about__footer_item-dig">5</span> <span>лет опыта</span></div>
        <div class="about__footer_item"><span class="about__footer_item-dig">100</span><span>проектов</span></div>
        <div class="about__footer_item"><span class="about__footer_item-dig">10</span><span>наград</span></div>
      </div>
    </div> <!--about-->
    <div class="our-works">

    </div>
    <!-- /.our-works -->
  </main>
 
        
       
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>